// Snippet: chek

.checkbox {
	position: relative;

	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
		&:checked + .checkbox__text:before {
			background: #fff url('../img/icons/checkbox.svg') center no-repeat;
		}
	}
	// .checkbox__text
	&__text {
		display: inline-flex;
		align-items: center;
		position: relative;
		cursor: pointer;
		&:before {
			content: '';
			align-self: flex-start;
			margin: 0px 18px 0px 0px;
			flex: 0 0 26px;
			left: 0;
			top: 0;
			width: 26px;
			height: 26px;
			background: #fff;
			border: 1px solid #0060aa;
			border-radius: 4px;
		}
	}

	&._error {
		.checkbox__text {
			&:before {
				border: 1px solid #ee1212;
			}
		}
	}
}
