.menu {
	position: relative;
	display: flex;

	&__body {
		flex: 1 1 auto;
		@media (max-width: $mobile) {
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			padding: 60px 15px 20px;
			overflow-y: auto;
			text-align: center;
			background-color: #ffffff;
			box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease 0s;
			&::after {
				content: '';
				position: fixed;
				left: 0;
				top: 0;
				width: 100%;
				height: 60px;
				background: #27ace2;
				box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
				z-index: 11;
			}
			&._active {
				opacity: 1;
				visibility: visible;
				z-index: 10;
			}
		}
	}

	&__list {
		display: flex;
		@include adaptiveValue('gap', 41, 20, 1);
		li {
			display: inline-flex;
			align-items: center;
		}

		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 0;
			padding-top: 28px;
			margin-bottom: 40px;

			li {
				&:not(:last-child) {
					margin-bottom: 23px;
				}
			}
		}
	}
	&__link {
		font-size: 14px;
		font-weight: 400;
		color: var(--color-link); //ЦВЕТ ПУНКТОВ МЕНЮ
		transition: color 0.3s ease 0s;
		&._active {
			color: var(--color-accent);
		}
		@media (max-width: $mobile) {
			font-size: 16px;
		}
	}
	// .menu__adrress

	&__address {
		font-size: 13px;
		line-height: math.div(15, 13);
		color: var(--color-link);
		span {
			font-weight: 500;
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}

	// .menu__social-list

	&__social-list {
		display: none;
		@media (max-width: $mobile) {
			display: flex;
			justify-content: center;
			gap: 30px;
		}
	}

	// .menu__social-item

	&__social-item {
	}

	// .menu__social-link

	&__social-link {
		svg.icon {
			width: 20px;
			height: 20px;
			fill: var(--color-accent);
		}
	}
}

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 22px;
		height: 18px;
		cursor: pointer;
		z-index: 11;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			border-radius: 25px;
			background-color: #374561; // цвет бургера
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			&::before {
				content: 'закрыть';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 30px;
				width: 70px;
				font-family: 'Roboto Condensed';
				font-weight: 700;
				font-size: 16px;
				text-transform: uppercase;
				color: #ffffff;
			}
			span {
				background-color: #ffffff;

				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
