.modal-thanks {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	display: none;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);

	&__dialog {
		display: flex;
		justify-content: center;
		max-width: 472px;
		margin: 80px auto;
		@media (max-width: $mobileSmall) {
			padding: 0 10px;
		}
	}
	&__content {
		position: relative;
		width: 100%;
		padding: 40px 86px;
		text-align: center;
		background: #ffffff;
		border-radius: 4px;
		filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));

		@media (max-width: $mobileSmall) {
			padding: 40px 30px;
		}
	}
	&__close {
		position: absolute;
		top: -30px;
		right: -80px;
		font-weight: 700;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		svg.icon {
			fill: #fff;
			width: 22px;
			height: 22px;
		}
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.9;
			}
		}
	}

	&__title {
		margin-bottom: 20px;
		width: 100%;
		font-weight: 700;
		font-size: 24px;
		text-align: center;
		color: #00254a;
	}

	&__subtitle {
		margin-bottom: 28px;
		font-size: 18px;
		line-height: math.div(21, 18);
		text-align: center;
		color: var(--color-main);
	}

	&__button {
		width: 145px;
	}
}

//====================================================================

.modal-filter {
	display: none;
	@media (max-width: $mobile) {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1050;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.5);

		&__dialog {
			display: flex;
			justify-content: center;
			width: 100%;
		}
		&__content {
			position: relative;
			width: 100%;
			padding-top: 70px;
			@include adaptiveValue('padding-bottom', 30, 0, 1);
			@include adaptiveValue('padding-right', 100, 0, 1);
			@include adaptiveValue('padding-left', 100, 0, 1);
			border-radius: 35px;
			text-align: center;
			border-radius: 10px;
			background-color: #f3f8fb;
			filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
		}

		&__close {
			position: absolute;
			top: 30px;
			right: 30px;
			font-weight: 700;
			border: none;
			background-color: transparent;
			cursor: pointer;
			transition: all 0.3s ease 0s;
			svg.icon {
				fill: #27ace2;
				width: 22px;
				height: 22px;
			}
			@media (any-hover: hover) {
				&:hover {
					opacity: 0.9;
				}
			}
		}
	}
}

//====================================================================

.modal-callback {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	display: none;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);

	&__dialog {
		display: flex;
		justify-content: center;
		max-width: 472px;
		margin: 80px auto;
		@media (max-width: $mobileSmall) {
			padding: 0 10px;
		}
	}
	&__content {
		position: relative;
		width: 100%;
		text-align: center;
		background: #ffffff;
		border-radius: 4px;
		filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
	}
	&__close {
		position: absolute;
		top: -30px;
		right: -80px;
		font-weight: 700;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		svg.icon {
			fill: #fff;
			width: 22px;
			height: 22px;
		}
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.9;
			}
		}
		@media (max-width: $mobile) {
			right: 0px;
		}
	}

	// .modal__title
	&__title {
		width: 100%;
		background: #f3f8fb;
		padding: 12px 0;
		position: relative;
		display: inline-block;
		margin-bottom: 30px;
		text-align: center;
		font-weight: 700;
		@include adaptiveValue('font-size', 22, 16, 1);
		color: #00254a;
	}
}

.modal-callback-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 40px 35px;

	@media (max-width: $mobileSmall) {
		padding: 0 15px 35px;
	}

	// .modal-form__label

	&__label {
		display: inline-block;
		margin-bottom: 10px;
		font-size: 15px;
		color: #00254a;
	}

	// .modal-form__input

	&__input {
		padding: 10px 0 10px 9px;
		height: 38px;
		width: 100%;
		background: #ffffff;
		border: 1px solid rgba(23, 113, 185, 0.2);
		border-radius: 4px;
		font-size: 16px;
		color: #00254a;
		&:not(:last-child) {
			margin-bottom: 14px;
		}
		&::placeholder {
			color: rgba(55, 69, 97, 0.4);
		}
		&:focus {
			&::placeholder {
				color: transparent;
			}
		}
	}

	// .modal-form__button

	&__button {
		margin: 6px auto 0;
		padding: 12px 31px;
	}
}

//====================================================================
