.bread-crumbs {
	padding-top: 30px;
	padding-bottom: 25px;

	// .bread-crumbs__container

	&__container {
		display: flex;
		gap: 20px;
	}

	// .bread-crumbs__link

	&__link {
		position: relative;
		font-size: 13px;
		color: #00254a;
		&:first-child {
			text-decoration: underline;
		}
		&:not(:last-child) {
			&::before {
				content: '/';
				position: absolute;
				top: 0;
				right: -13px;
				width: 5px;
				height: 11px;
				font-size: 13px;
				color: #00254a;
			}
		}
	}
}
