.callback-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 25px 20px;
	width: 100%;
	background: #ffffff;
	border: 10px solid #aad9fe;
	border-radius: 4px;
	// .callback-panel__title

	&__title {
		margin-bottom: 15px;
		font-weight: 700;
		font-size: 20px;
		color: var(--color-main);
	}

	// .callback-panel__phone-link

	&__phone-link {
		margin-bottom: 15px;
		font-weight: 700;
		@include adaptiveValue('font-size', 26, 24, 1);
		color: var(--color-main);
	}

	// .callback-panel__button

	&__button {
		width: 252px;
	}
}
