.device-repair {
	padding-bottom: 40px;
	padding-top: 20px;
	// .device-repair__container

	&__container {
		display: flex;
		@media (max-width: $tablet) {
			flex-direction: column;
			padding: 0;
		}
	}

	// .device-repair__main

	&__main {
	}

	// .device-repair__right

	&__right {
	}
}
.device-repair-main {
	margin-right: 30px;
	@media (max-width: $tablet) {
		margin-right: 0;
	}
	// .device-repair-main__description

	&__description {
		margin-bottom: 20px;
		@media (max-width: $tablet) {
			padding: 0 10px;
		}
	}

	// .device-repair-main__image

	&__image {
		text-align: center;
		margin-bottom: 16px;
		img {
			@include adaptiveValue('max-width', 237, 158, 1);
			@include adaptiveValue('height', 240, 160, 1);
		}
	}

	// .device-repair-main__title

	&__title {
		text-align: center;
		font-weight: 700;
		@include adaptiveValue('font-size', 36, 26, 1);
		line-height: math.div(42, 36);
		color: var(--color-main);
	}
}

.select-services {
	padding: 29px 55px 39px 32px;
	background: #ffffff;
	box-shadow: 0px 0px 10px rgba(0, 37, 74, 0.2);
	border-radius: 4px;
	@media (max-width: $tablet) {
		@include adaptiveValue('margin-bottom', 30, 20, 1);
	}
	@media (max-width: $mobile) {
		padding: 25px 22px;
	}
	// .select-services__table

	&__table {
		width: 100%;
	}

	// .select-services__title

	&__title {
		margin-bottom: 20px;
		font-weight: 700;
		font-size: 18px;
		color: #00254a;
	}

	// .select-services__head

	&__head {
		display: flex;
		width: 100%;
		justify-content: space-between;
		margin-bottom: 23px;
		th {
			text-align: left;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			color: #3d3d3d;
		}
	}

	// .select-services__row

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 12px;
		border-bottom: 1px solid rgba(212, 228, 239, 0.6);
		@include adaptiveValue('font-size', 16, 15, 1);
		color: #00254a;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	// .select-services__service-name

	&__service-name {
		position: relative;
		display: flex;
		align-items: center;
		transition: all 0.1s ease 0s;
		margin-right: 15px;
		@media (any-hover: hover) {
			&:hover {
				&:hover {
					text-decoration: underline;
					color: var(--color-accent);
				}
			}
		}
	}

	// .select-services__service-price

	&__service-price {
		width: 25px;
		text-align: center;
	}
}

.repair-total-price {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 300px;
	@include adaptiveValue('padding-top', 43, 20, 1);
	@include adaptiveValue('padding-bottom', 34, 20, 1);
	background: #ffffff;
	box-shadow: 0px 0px 10px rgba(0, 37, 74, 0.2);
	border-radius: 4px;
	margin-bottom: 30px;
	@media (max-width: $tablet) {
		width: 100%;
	}

	// .repair-total-price__heading

	&__heading {
		@include adaptiveValue('margin-bottom', 48, 20, 1);
		font-weight: 700;
		@include adaptiveValue('font-size', 24, 16, 1);
		color: var(--color-main);
	}

	// .repair-total-price__count

	&__count {
		@include adaptiveValue('margin-bottom', 35, 23, 1);
		font-size: 18px;
		color: var(--color-main);
		span {
			@include adaptiveValue('font-size', 45, 30, 1);
		}
	}

	// .repair-total-price__button

	&__button {
		width: 211px;
		@include adaptiveValue('margin-bottom', 33, 20, 1);
	}

	// .repair-total-price__text

	&__text {
		font-size: 15px;
		color: #00254a;
	}
}
.repair-map {
	padding-top: 25px;
	background: #ffffff;
	box-shadow: 0px 0px 10px rgba(0, 37, 74, 0.2);
	border-radius: 4px;
	@media (max-width: $tablet) {
		width: 100%;
	}

	// .repair-map__heading

	&__heading {
		margin-bottom: 25px;
		text-align: center;
		font-weight: 700;
		font-size: 24px;
		color: var(--color-main);
	}
}
