.link-hover {
	transition: color 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			color: var(--color-accent);
		}
	}
}

._current {
	color: var(--color-accent);
}

.button {
	padding-top: 11px;
	padding-bottom: 11px;
	background: #27ace2;
	border-radius: 4px;
	font-family: 'Roboto Condensed';
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;
	border: 2px solid var(--color-accent);
	transition: all 0.3s ease 0s;
	&_callback {
		padding: 10px 28px;
	}
	&_white {
		color: var(--color-accent);
		background-color: #fff;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
	}
	&:active {
		transform: scale(0.95);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: #0060aa;
			border-color: #0060aa;
		}
	}
}

.section-title {
	text-align: center;
	font-weight: 700;
	@include adaptiveValue('font-size', 36, 26, 1);
	line-height: math.div(42, 36);
	color: var(--color-main);
}

.header-shadow {
	box-shadow: 0px 5px 10px rgba(0, 37, 74, 0.1);
}
