@use 'sass:math';
//<МИКСИНЫ>======================================================
@import 'base/mixins';
//<МИКСИНЫ>======================================================

//<ШРИФТЫ>=======================================================
//<Подключаем шрифты>============================================
//&display=swap&subset=cyrillic-ext
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto+Slab&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap&subset=cyrillic-ext');

// @import 'base/fonts';
//</Подключаем шрифты>===========================================

//<Шрифт по умолчанию>===========================================
$fontFamily: 'Roboto';
$fontSize: 14px;
//</Шрифт по умолчанию>==========================================

//</ШРИФТЫ>======================================================

//<ПЕРЕМЕННЫЕ>===================================================
$mainColor: #3d3d3d;

@import 'variables';
//===============================================================

$minWidth: 320px;
$maxWidth: 1280;
$maxWidthContainer: 1150; // прибавить 30 padding
$containerPadding: 20;

$pc: ($maxWidthContainer + $containerPadding) + px;
$tablet: 991.98 + px;
$mobile: 767.98 + px;
$mobileSmall: 479.98 + px;

//</ПЕРЕМЕННЫЕ>==================================================

//<ОБНУЛЕНИЕ>===================================
@import 'base/null';
//</ОБНУЛЕНИЕ>==================================

//<ОБОЛОЧКА>=====================================================

html {
	scroll-behavior: smooth;
}

body._lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-color: #fff;
}

//</ОБОЛОЧКА>===================================================

//<ОСНОВНАЯ СЕТКА>==============================================
[class*='__container'] {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 $containerPadding + px;
}

[class*='__inner-container'] {
	max-width: 1060px;
	margin: 0 auto;
}
//</ОСНОВНАЯ СЕТКА>=============================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===============
@import 'header';
//===========MAIN===============================================
@import './parts/hero';
@import './parts/steps';
@import './parts/advantages';
@import './parts/info';
@import './parts/map';
@import './parts/contacts';
//====================================================================
@import './parts/bread-crumbs';

//===========MAIN===============================================
@import 'footer';
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>==============

//<ОСНОВНОЙ БЛОК>===============================================

@import 'base';
@import 'global';

.page {
	flex: 1 1 auto;
	position: relative;
	// top: 75px;
}

//==============================================================

.show {
	display: block;
}

.header_hidden {
	transform: translateY(-100%);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}
